.book-list {
  display: grid;
  gap: 2rem;
  width: 90vw;
  max-width: 1170px;
  margin: 3rem auto;
}

@media screen and (min-width: 768px) {
  .book-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book-list-title {
  grid-column: span 3;
  text-align: center;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20rem;
  margin: 0 auto;
  padding: 2rem 0;
  border-radius: .5rem;
  background: #ffffff;
}

.book > p {
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

.book-cover {
  max-width: 180px;
  border-radius: 1rem;
}

.book-cover:hover {
  transform: scale(1.1);
  transition: 1s ease-out;
}

.book-title {
  max-width: 200px;
  margin-top: 1rem;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-author {
  margin-top: .5rem;
  font-size: .75rem;
  letter-spacing: .3rem;
  color: #617d98;
}


